{% extends "layout/base.html" %}

{% block content %}
<h1 class="text-center mt-4">Pedidos Registrados</h1>

<div id="boton-volver" class="text-start mb-3">
    <a href="/" class="btn btn-secondary btn-sm">← Volver al Menú</a>
</div>

<div class="container mt-4">
    <table class="table table-bordered table-striped">
        <thead class="table-dark text-center">
            <tr>
                <th>Fecha</th>
                <th>Servicio</th>
                <th>Dietas</th>
                <th>ID Paciente</th>
                <th>Paciente</th>
                <th>Pabellón</th>
                <th>Cama</th>
                <th>Estado Entrega</th>
                <th>Estado Recogida</th>
                <th>CDS</th>
                <th>Hora Entrega</th>
                <th>Hora Recogida</th>
                <th>Observaciones</th>
                <th>Observaciones sobre el menaje</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido['Fecha Solicitud'] }}</td>
                <td>{{ pedido['Servicio'] }}</td>
                <td>{{ pedido['Dietas'] }}</td>
                <td>{{ pedido['ID Paciente'] }}</td>
                <td>{{ pedido['Paciente'] }}</td>
                <td>{{ pedido['Pabellón'] }}</td>
                <td>{{ pedido['Cama'] }}</td>
                <td>{{ pedido['Estado Entrega'] }}</td>
                <td>{{ pedido['Estado Recogida'] }}</td>
                <td>{{ pedido['CDS'] }}</td>
                <td>{{ pedido['Hora Entrega Real'] }}</td>
                <td>{{ pedido['Hora Recogida Menaje'] }}</td>
                <td>{{ pedido['Observaciones'] }}</td>
                <td>{{ pedido['Observaciones Menaje'] }}</td>
                <td><a href="/editar/{{ pedido['ID Pedido'] }}">✏️ Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a href="/cargar_manual" class="btn btn-primary">Registrar nuevo pedido</a>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}
